# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\my_study_docs\webStudyDocs\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
